.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 53px;
}
.button_1 {
  padding: 10px;
  border: 2px solid white;
  margin-right: -10px;
}
.button {
  background-color: black;
  border: none;
  color: white;
}
