.main {
  display: flex;
  justify-content: space-between;
}
.head {
  text-align: center;
  padding: 50px;
  font-size: 50px;
}
.card {
  border: 1px solid rgb(69, 67, 67);
  color: white;
  width: 260px;
  height: 370px;
  padding-top: 3rem;
  padding-left: 2rem;
  padding-right: 2.5rem;
  padding-bottom: 1rem;
  border-radius: 1rem;
}
.title {
  margin-bottom: 30px;
  margin-top: 30px;
}
.text {
  opacity: 30%;
  font-size: 20px;
}
.button {
  background-color: #e3b748;
  height: 40px;
  width: 100px;
  border-radius: 50px;
}
